* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 8px;
  color: #646464;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

@keyframes niudong {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(25deg);
  }
  50% {
    transform: rotate(-25deg);
  }
  75% {
    transform: rotate(-25deg);
  }
  100% {
    transform: rotate(25deg);
  }
}
.clearfix::after {
  content: "";
  clear: both;
  height: 0;
  display: block;
  visibility: hidden;
}

.wrapper {
  background-color: #f4f4f4;
}
.wrapper #header {
  position: fixed;
  border: 1px solid #e2e2e2;
  background-color: #ffffff;
  height: 68px;
  width: 100%;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.5);
  z-index: 2;
}
.wrapper #header h1 {
  font-size: 50px;
  text-align: center;
  float: left;
  width: 278px;
  height: 100%;
  border-right: 1px solid #e2e2e2;
}
.wrapper #header .links {
  float: left;
}
.wrapper #header .links li {
  font-size: 8px;
  float: left;
  margin-top: 27px;
  padding: 0 30px;
  border-right: 1px solid #e2e2e2;
}
.wrapper #header .links li a:hover {
  color: #2fbbae;
}
.wrapper #header .menu ul {
  margin-right: 20px;
}
.wrapper #header .menu ul li {
  display: block;
  float: right;
  height: 100%;
  padding-top: 27px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 16px;
  border-left: 1px solid #e2e2e2;
}
.wrapper #header .menu ul :nth-child(1) {
  padding-right: 10px;
}
.wrapper #page {
  padding: 0 40px 0 0;
}
.wrapper #page #aside {
  margin-top: 113px;
  float: left;
  width: 32%;
  padding: 0 50px;
}
.wrapper #page #aside .profile-photo {
  position: relative;
  height: 60px;
  width: 30px;
  transform: rotate(90deg);
  background-color: rgba(0, 0, 0, 0.1);
}
.wrapper #page #aside .profile-photo::before {
  content: "";
  border-left: 15px solid transparent;
  border-right: 15px solid rgba(0, 0, 0, 0.1);
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  position: absolute;
  right: 29px;
}
.wrapper #page #aside .profile-photo::after {
  content: "";
  border-left: 15px solid rgba(0, 0, 0, 0.1);
  border-right: 15px solid transparent;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  position: absolute;
  left: 29px;
}
.wrapper #page #aside h1 {
  margin-top: 10px;
  font-size: 30px;
  font-weight: bold;
}
.wrapper #page #aside .photo-wrapper .one-photo {
  margin: 25px 0;
  border: 1px solid #e2e2e2;
  position: relative;
  width: 100%;
  height: 230px;
  overflow: hidden;
}
.wrapper #page #aside .photo-wrapper .one-photo .photo {
  width: 100%;
  height: 160px;
  background-image: url("img/pic03.jpg");
  background-size: cover;
  z-index: 1;
  transition-duration: 1s;
}
.wrapper #page #aside .photo-wrapper .one-photo .photo:hover {
  transform: scale(1.3);
}
.wrapper #page #aside .photo-wrapper .one-photo .info {
  background-color: white;
  position: relative;
  height: 70px;
}
.wrapper #page #aside .photo-wrapper .one-photo .info .small-photo {
  float: right;
}
.wrapper #page #aside .photo-wrapper .one-photo .info p {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.wrapper #page #aside .photo-wrapper .one-photo .info h3 {
  position: absolute;
  bottom: 34px;
  left: 10px;
}
.wrapper #page #aside .photo-wrapper .one-photo .info .small-photo {
  background-image: url("img/touxiang.jpeg");
  background-size: cover;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  position: absolute;
  margin: auto 0;
  right: 10px;
  top: 0;
  bottom: 0;
}
.wrapper #page #aside .photo-wrapper .one-photo .info .small-photo:hover {
  animation-name: niudong;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-direction: normal;
}
.wrapper #page #aside .comment-wrapper {
  margin: 30px 0;
}
.wrapper #page #aside .comment-wrapper .comment {
  height: 80px;
  width: 100%;
  margin: 40px 0;
}
.wrapper #page #aside .comment-wrapper .comment .people-comment {
  background-image: url("img/people.jpeg");
  background-size: cover;
  float: left;
  width: 80px;
  height: 80px;
}
.wrapper #page #aside .comment-wrapper .comment .comment-content {
  width: 70%;
  height: 100%;
  float: left;
}
.wrapper #page #aside .comment-wrapper .comment .comment-content h3 {
  margin: 10px 10px;
  font-size: 20px;
}
.wrapper #page #aside .comment-wrapper .comment .comment-content p {
  margin: 10px 10px;
}
.wrapper #page #aside .about-wrapper .about {
  margin: 20px 0;
  font-size: 16px;
}
.wrapper #page #aside .about-wrapper .learn-more {
  margin-top: 30px;
  display: block;
  width: 170px;
  height: 55px;
  background-color: white;
}
.wrapper #page #aside .about-wrapper .learn-more:hover {
  border: 1px solid #2fbbae;
}
.wrapper #page #aside .contact-wrapper {
  margin-top: 30px;
  margin-bottom: 50px;
}
.wrapper #page #aside .contact-wrapper li {
  float: left;
  margin: 0 10px;
}
.wrapper #page #aside .contact-wrapper li .icon:hover {
  font-size: 15px;
  background-color: #2fbbae;
}
.wrapper #page #main {
  margin-top: 113px;
  background-color: #f4f4f4;
  float: left;
  width: 68%;
}
.wrapper #page #main .article {
  border: 1px solid #e2e2e2;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
  background-color: white;
  width: 100%;
  height: 750px;
  margin-bottom: 50px;
}
.wrapper #page #main .article .article-title-info-warpper {
  height: 200px;
}
.wrapper #page #main .article .article-title-info-warpper .title {
  float: left;
  border-bottom: 1px solid #e2e2e2;
  height: 100%;
  width: 70%;
}
.wrapper #page #main .article .article-title-info-warpper .title a p {
  margin-left: 40px;
  font-size: 40px;
  margin-top: 40px;
}
.wrapper #page #main .article .article-title-info-warpper .title p {
  font-size: 15px;
  margin-top: 20px;
  margin-left: 40px;
}
.wrapper #page #main .article .article-title-info-warpper .info {
  border-bottom: 1px solid #e2e2e2;
  border-left: 1px solid #e2e2e2;
  position: relative;
  float: left;
  height: 100%;
  width: 30%;
}
.wrapper #page #main .article .article-title-info-warpper .info h3 {
  position: absolute;
  top: 50px;
  left: 50px;
  font-size: 18px;
  font-weight: bolder;
}
.wrapper #page #main .article .article-title-info-warpper .info p {
  position: absolute;
  font-size: 12px;
  top: 100px;
  left: 80px;
}
.wrapper #page #main .article .article-title-info-warpper .info .small-photo {
  background-image: url("img/people.jpeg");
  background-size: cover;
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  left: 167px;
  top: 80px;
}
.wrapper #page #main .article .main {
  border-bottom: 1px solid #e2e2e2;
  height: 450px;
}
.wrapper #page #main .article .main div {
  width: 80%;
  height: 300px;
  margin: 30px auto;
  overflow: hidden;
}
.wrapper #page #main .article .main div .img {
  background-image: url("img/article.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
  transition: 0.3s;
}
.wrapper #page #main .article .main div .img:hover {
  transform: scale(1.2);
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.5);
}
.wrapper #page #main .article .main p {
  margin: 5px 20px;
}
.wrapper #page #main .article .footer {
  position: relative;
  height: 100px;
}
.wrapper #page #main .article .footer .read {
  display: block;
  width: 130px;
  height: 40px;
  margin-top: 15px;
  margin-left: 40px;
}
.wrapper #page #main .article .footer .read:hover {
  border: 1px solid #2fbbae;
}
.wrapper #page #main .article .footer li:nth-child(2) {
  position: absolute;
  right: 20px;
  top: 5px;
}
.wrapper #page #main .article .footer li:nth-child(1) {
  position: absolute;
  right: 100px;
  top: 5px;
}
.wrapper #menu {
  position: fixed;
  background-color: #f4f4f4;
  border: 1px solid red;
  height: 90vh;
  width: 300px;
  top: 70px;
  right: 0;
  z-index: 10;
  display: none;
  transition-duration: 3s;
}
.wrapper #menu.active {
  display: block;
}

/*# sourceMappingURL=main.css.map */
